.custom-menu-wrapper {
          background-color: #E41C0F;
          margin-bottom: 2.5em;
          white-space: nowrap;
          position: relative;
      }
      
      .custom-menu {
          display: inline-block;
          width: auto;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
      }
      
      .custom-menu .pure-menu-link,
      .custom-menu .pure-menu-heading {
          color: white;
      }
      
      .custom-menu .pure-menu-link:hover,
      .custom-menu .pure-menu-heading:hover {
          background-color: transparent;
      }
      
      .custom-menu-top {
          position: relative;
          padding-top: .5em;
          padding-bottom: .5em;
      }
      
      .custom-menu-brand {
          display: block;
          text-align: center;
          position: relative;
      }
      
      .custom-menu-toggle {
          width: 44px;
          height: 44px;
          display: block;
          position: absolute;
          top: 3px;
          right: 0;
          display: none;
      }
      
      .custom-menu-toggle .bar {
          background-color: white;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 22px;
          right: 12px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
      
      .custom-menu-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
      
      .custom-menu-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
      .custom-menu-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
      
      .custom-menu-screen {
          background-color: #E41C0F;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
          height: 3em;
          width: 70em;
          position: absolute;
          top: 0;
          z-index: -1;
      }
      
      .custom-menu-tucked .custom-menu-screen {
          -webkit-transform: translateY(-44px);
          -moz-transform: translateY(-44px);
          -ms-transform: translateY(-44px);
          transform: translateY(-44px);
      }
      
      @media (max-width: 62em) {
      
          .custom-menu {
              display: block;
          }
      
          .custom-menu-toggle {
              display: block;
              display: none\9;
          }
      
          .custom-menu-bottom {
              position: absolute;
              width: 100%;
              border-top: 1px solid #eee;
              background-color: #E41C0F\9;
              z-index: 100;
          }
      
          .custom-menu-bottom .pure-menu-link {
              opacity: 1;
              -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
              -ms-transform: translateX(0);
              transform: translateX(0);
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              transition: all 0.5s;
          }
      
          .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
              -webkit-transform: translateX(-140px);
              -moz-transform: translateX(-140px);
              -ms-transform: translateX(-140px);
              transform: translateX(-140px);
              opacity: 0;
              opacity: 1\9;
          }
      
          .pure-menu-horizontal.custom-menu-tucked {
              z-index: -1;
              top: 45px;
              position: absolute;
              overflow: hidden;
          }
      
      }
      .img-circle {
      border-radius: 50%;
    }

     #map {
        height: 400px;
        width: 100%;
       }

       ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
  }
  ul.social-network li {
  display: inline;
  margin: 0 5px;
  }


  /* footer social icons */
  .social-network a.icoFacebook:hover {
  background-color:#3B5998;
  }
  .social-network a.icoTwitter:hover {
  background-color:#33ccff;
  }
  .social-network a.icoThumb-up:hover {
  background-color:#0CB22F;
  }
  .social-network a.icoThumb-down:hover {
  background-color:#BD3518;
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
  }

  .social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
  }
  .social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
  }

  .social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  }
  .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
  }

  a.fondo{
  background-color: #D3D3D3;
  }  

  @import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
  width: 320px;
}

#login-modal input[type=text], input[type=password] {
margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important;
}

#img_logo {
  max-height: 100px;
  max-width: 100px;
}

/* #########################################
 #    override the bootstrap configs     #
 ######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px;
}

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px;
}

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px;
}

.checkbox {
  margin-bottom: 0px;
}

.btn {
  border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 0px;
}

.btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
  color: #2c3e50;
  text-decoration: none;
}

.glyphicon {
  top: 0px;
}

.form-control {
border-radius: 0px;
}